// Copyright 2013, prettyspoon.com
// Copyright 2013, Noah Kantrowitz


/* Buttons */

.btn {
  font-weight: 400;
  // color: @color-4;
  border: 0;
}

.btn-centered {
  width: 50%;
  margin: 0 auto;
  display: block;
}
