// Copyright 2013, prettyspoon.com
// Copyright 2013, Noah Kantrowitz

.big-list {
  font-size: 25px;
  font-weight: 300;
  li {
    line-height:35px;
    height: 50px;
    margin: 10px;
  }
  // i {
  //   float: left;
  //   width: 50px;
  //   font-size: 40px;
  //   margin-right: 20px;
  // }
}
